 .td {
    background: #f2f4f7;
    margin-top: 23px;
    padding-bottom: 30px;
    &__item{
        background-color: red;
    }
    &__description {
      font-size: 15px;
      font-family: "Arial", sans-serif;
    }
    &__title {
      font-size: 20px;
      font-family: "Arial", sans-serif;
      font-weight: bold;
    }
  }