body{
    margin: 0;
}   
.header{
    background-image: url("https://uyendo0203.github.io/vng/images/bg-header.png");
}
.container{
    display: flex;
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
}


.header__logo{
    margin: 10px;
}
.header__menu{
    list-style: none;
    color: white;
    text-transform: uppercase;
    display: flex;
    
}

.header__menu-item{
    margin: 4px 2px 4px 2px;
    padding: 10px;
}
a{
    color: white;
}
